div.social_connect_form {
  display:none;
}

div.social_connect_already_connected_form {
  display:none;
}

div.social_connect_facebook_auth {
  display:none;
}

div.social_connect_google_auth {
  display:none;
}
